{% extends "base.html" %}

{% block contenido %}

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if USER %}
                    <h2>Bienvenido {{USER.NAME}}</h2>
                    {% else %}
                    <h2>Registrarse</h2>
                    {% endif %}
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" id="fname" name="fname" required data-validation-required-message="Porfavor ingrese su nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Apellidos" id="lname" name="lname" required data-validation-required-message="Porfavor ingrese su apellido.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 controls" >
                                <label>Sexo</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sexo" id="generoM" value="m" checked>
                                    Masculino
                                    </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="sexo" id="generoF" value="f">
                                    Femenino
                                  </label>
                                </div>
<!-- <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Apellidos" id="lname" name="lname" required data-validation-required-message="Porfavor ingrese su apellido.">
                                <p class="help-block text-danger"></p> -->
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email" required data-validation-required-message="Porfavor ingrese su correo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password" required data-validation-required-message="Porfavor ingrese su contraseña.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Confirmar Contraseña</label>
                                <input type="password" class="form-control" placeholder="Confirmar Contraseña" id="passwordConfirm" name="passwordConfirm" required data-validation-required-message="Porfavor confirme su contraseña.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Teléfono</label>
                                <input type="number" min="10000000" max="99999999" step="1" class="form-control" placeholder="Teléfono" id="phone" name="phone" required data-validation-required-message="Porfavor ingrese su teléfono.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Fecha de nacimiento</label>
                                <input type="text" onfocus="(this.type='date')" class="form-control" placeholder="Fecha de nacimiento" id="fechaNac" name="fechaNac" required data-validation-required-message="Porfavor ingrese su correo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Dirección</label>
                                <input type="text" class="form-control" placeholder="Dirección" id="address" name="address" required data-validation-required-message="Porfavor ingrese su correo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Registrarse</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}